<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Presentacion.Properties.Settings.ConsultorioConnectionString"
            connectionString="Data Source=CAIR\CAIR;Initial Catalog=Consultorio;Integrated Security=True"
            providerName="System.Data.SqlClient" />
      <add name="sql" connectionString="Server=CAIR\CAIR;Integrated Security=true;Database=Consultorio"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>